<header class="site-header" id="siteHeader">
  <div class="header-shell">
    <a class="header-logo" href="creafit_main_custom_why_060_0055_auto_portfolio_drag.html" aria-label="CREAFIT 메인으로">CREAFIT<span>.</span></a>
    <nav class="main-nav" id="mainNav" aria-label="주요 메뉴">
      <ul>
        <li class="menu-item">
          <a class="menu-link" href="creafit_main_custom_why_060_0055_auto_portfolio_drag.html#about">회사소개 <i class="ri-arrow-down-s-line"></i></a>
          <ul class="submenu">
            <li><a href="creafit_main_custom_why_060_0055_auto_portfolio_drag.html#about"><span class="sub-no">01</span><span>회사소개</span><i class="ri-arrow-right-up-line"></i></a></li>
            <li><a href="creafit_main_custom_why_060_0055_auto_portfolio_drag.html#contact"><span class="sub-no">02</span><span>고객지원</span><i class="ri-arrow-right-up-line"></i></a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="website.html">홈페이지 <i class="ri-arrow-down-s-line"></i></a>
          <ul class="submenu">
            <li><a href="website.html"><span class="sub-no">01</span><span>홈페이지 제작</span><i class="ri-arrow-right-up-line"></i></a></li>
            <li><a href="portfolio.html"><span class="sub-no">02</span><span>웹 포트폴리오</span><i class="ri-arrow-right-up-line"></i></a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="brand-blog.html">블로그 <i class="ri-arrow-down-s-line"></i></a>
          <ul class="submenu">
            <li><a href="brand-blog.html"><span class="sub-no">01</span><span>브랜드 블로그</span><i class="ri-arrow-right-up-line"></i></a></li>
            <li><a href="/shop_contents/myreg_form.htm?myreg_code=inquiry"><span class="sub-no">02</span><span>블로그 문의</span><i class="ri-arrow-right-up-line"></i></a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="marketing.html">마케팅 <i class="ri-arrow-down-s-line"></i></a>
          <ul class="submenu">
            <li><a href="marketing.html"><span class="sub-no">01</span><span>온라인 마케팅</span><i class="ri-arrow-right-up-line"></i></a></li>
            <li><a href="/shop_contents/myreg_form.htm?myreg_code=inquiry"><span class="sub-no">02</span><span>마케팅 문의</span><i class="ri-arrow-right-up-line"></i></a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="portfolio.html">포트폴리오 <i class="ri-arrow-down-s-line"></i></a>
          <ul class="submenu">
            <li><a href="portfolio.html"><span class="sub-no">01</span><span>전체 포트폴리오</span><i class="ri-arrow-right-up-line"></i></a></li>
            <li><a href="/shop_contents/myreg_form.htm?myreg_code=inquiry"><span class="sub-no">02</span><span>프로젝트 문의</span><i class="ri-arrow-right-up-line"></i></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <a class="header-cta" href="/shop_contents/myreg_form.htm?myreg_code=inquiry">PROJECT REQUEST <i class="ri-arrow-right-up-line"></i></a>
    <button class="mobile-menu-btn" type="button" aria-label="메뉴 열기" aria-controls="mainNav" aria-expanded="false"><span></span><span></span></button>
  </div>
</header>
